@page "/hybridpage"
@rendermode InteractiveServer
@using MudBlazor;

<MudCard Elevation="0" Class="mb-4">
    <MudCardContent>
        <MudGrid Spacing="1">
            <MudItem xs="12" sm="12" md="12">
                <MudText>
                    @if (product != null)
                    {
                        <h2>@product.Description</h2>
                    }
                </MudText>
            </MudItem>            
        </MudGrid>
    </MudCardContent>
</MudCard>

<h2>Below content is coming by mocking an API, using Postman mock server.</h2>

<MudGrid Spacing="1">
    <MudItem Class="d-flex">
    @if (properties != null)
    {
        foreach (var property in properties)
        {
            <MudItem xs="12" sm="4" md="4">
                <MudCard Style="padding:16px">
                    <MudCardContent>
                        <MudText>
                            @property.Description
                        </MudText>
                        <MudImage Src="@($"images/{property.ProductImage}")" Width="300" Height="300" Class="object-contain align-center">
                        </MudImage>
                        <MudText>
                            @property.Price
                        </MudText>
                    </MudCardContent>
                </MudCard>
            </MudItem>
                                        
        }
    }     
    </MudItem>
</MudGrid>
 




@* <p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@


